.contenidouno{
    color: darkgreen;
    h1{
    font-size: 100px;
    color: darkgreen;
    }
    p{
        color: darkgreen;
        font-weight:bolder;
        font-size: 25px;
    }
  }

.partedos{
  margin: 16px;
 }